Release/*.o
Release/*.d
Release/*.mk
Release/makefile
Debug/
tracker
recognizer
register
Eigenfaces/data/
Eigenfaces/backup/
Eigenfaces/Cambridge_FaceDB/
Eigenfaces/facedata.xml
Eigenfaces/out_eigenfaces.bmp
LOG/
bin/*.o
